.buttonOff {
    background-color: #5287B2;  
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    font-size: 1.25vw;
    width: 8vw;
    height: 8vh;   
    margin-bottom: 1.5vh;
    margin-right: 1vw;
} 

.buttonOn {
    background-color: #7CB78A;
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    font-size: 1.25vw;
    width: 8vw;
    height: 8vh;
    margin-bottom: 1.5vh;
    margin-right: 1vw;
} 

.outerlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 1vw;
    font-size: 4vmin;
}
.list {
    max-width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.submitButton {
    background-color: #EF8354; 
    border: none;
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vmin;
    width: 20vh;
    height: 12vh;
}

:any-link {
    text-decoration:none;
}

@media(max-width: 420px) {
    .list{
        padding-top: 5vh;
        max-width: 90vw;
    }
    .buttonOff{
        width: 22vw;
        height: 12vh;
        font-size: 4vmin;
        margin-bottom: 1.5vh;
        margin-right: 2vw;
    }
    .buttonOn{
        width: 22vw;
        height: 12vh;
        font-size: 4vmin;
        margin-bottom: 1.5vh;
        margin-right: 2vw;
    }
    h1{
        margin-left: 3vw;
        font-size: 6vw;
    }
    .submitButton {
        font-size: 6vw;
    }
}